*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    height: 6%;
    width: 100%;
    /* background-color: red; */
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2vw;
}
#nav h3{
    font-size: 25px;
    font-weight: 500;
}
#nav button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #000;
    border: none;
    color: #fff;
}

#main{
    position: relative;
    overflow: hidden;
}
#page{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    position: relative;
}
#page-left{
    position: absolute;
    bottom: 25%;
    font-size: 13px;
    color: #5d5d5d;
    font-weight: 500;
    left: 40px;
}
#page-left h4{
    position: relative;
    left: 60%;
    color: #323232;
    font-size: 13px;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
#page1 #left-text h3{
    position: absolute;
    top: 25%;
    font-weight: 500;
    color: #5d5d5d;
    left: 8%;
}

#page1 #left-text h1{
    position: absolute;
    top: 29%;
    font-weight: 900;
    left: 8%;
}

#page1 #left-text h1 span{
    display: inline-flex;
    color: #f1f1f1;
    background-color: #000;
    margin-bottom:  10px;
    padding: 3px 10px;
}

#page1 #right-text h3{
    position: absolute;
    bottom: 25%;
    font-weight: 500;
    color: #5d5d5d;
    right: 8%;
}

#page1 #right-text h1{
    position: absolute;
    bottom: 29%;
    font-weight: 900;
    right: 8%;
}

#page1 #right-text h1 span{
    display: inline-flex;
    color: #f1f1f1;
    background-color: #000;
    margin-bottom:  10px;
    padding: 3px 10px;
}


#page2{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}
#page2 #left-text h3{
    position: absolute;
    top: 25%;
    font-weight: 500;
    color: #5d5d5d;
    left: 8%;
}
#page2 #left-text h1{
    position: absolute;
    top: 29%;
    font-weight: 900;
    left: 8%;
}

#page2 #left-text h1 span{
    display: inline-flex;
    color: #f1f1f1;
    background-color: #000;
    margin-bottom:  10px;
    padding: 3px 10px;
}

#page2 #right-text p{
    position: absolute;
    bottom: 25%;
    color: #5d5d5d;
    right: 5%;
    text-align: right;
    font-size: 15px;
}



#page3{
    height: 100vh;
    width: 100vw;
    /* background-color: green; */
}
#page3 #left-text h3{
    position: absolute;
    top: 25%;
    font-weight: 500;
    color: #5d5d5d;
    left: 8%;
}
#page3 #left-text h1{
    position: absolute;
    top: 29%;
    font-weight: 900;
    left: 8%;
}

#page3 #left-text h1 span{
    display: inline-flex;
    color: #f1f1f1;
    background-color: #000;
    margin-bottom:  10px;
    padding: 3px 10px;
}

#page3 #right-text p{
    position: absolute;
    bottom: 25%;
    color: #5d5d5d;
    right: 5%;
    text-align: right;
    font-size: 15px;
}

canvas{
    position: relative;
    z-index: 9;
    max-height: 100vh;
    max-width: 100vw;
    

}
#loop{
    position: absolute;
    font-size: 100px;
    white-space: nowrap;
    top: 30%;
    height: 25%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#loop h1{
    font-weight: 500;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    
}
#loop span{
    -webkit-text-stroke: 1.5px #000;
    color: transparent;
}

@keyframes anim {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
    
}
